@media (min-width: 200px) and (max-width: 899px) {
  .logo button {
    display: block;
  }
  .navLinks-top {
    display: none;
  }
  .header-right {
    display: none;
  }

  .mob-header-btn button {
    font-family: inherit;
    font-weight: 700;
    border: none;
    background: var(--color-primary);
    padding: 10px 30px;
    border-radius: 0.5rem;
  }
  .about-us {
    max-width: 90%;
  }
  .image-section {
    background: linear-gradient(
      to bottom,
      transparent 50%,
      var(--color-secondary) 50%
    );
  }
  .image-wrapper {
    flex-direction: column;
  }
}
