/* Basic setting  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 228, 228);
  padding: 2rem;
}
.screen {
  display: none;
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.screen.active {
  display: block;
}
#startScreen h1 {
  color: rgb(253, 93, 93);
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.startBtn {
  background: rgba(126, 139, 255, 0.986);
  border: none;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.option {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 1rem 0rem;
  border: none;
  background: rgb(92, 191, 230);
  border-radius: 1rem;
  color: #fff;
}
#question {
  margin: 1rem 0rem;
}
.progress {
  width: 100%;
  height: 15px;
  background: #eee;
  margin: 20px 0;
  border-radius: 1rem;
}
.progress-bar {
  height: 100%;
  width: 0%;
  background: #63e767;
}
