* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  background: #deeffd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 600px;
  background-color: #fff;
  padding: 2.5rem;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}
.tab_box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgb(229, 229, 229);
}
.tab_box .tab_btn {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  font-weight: 600;
  color: #919191;
  background: none;
  border: navajowhite;
  padding: 1.2rem;
}
.tab_box .tab_btn.active {
  color: #4d94ff;
}
.line {
  position: absolute;
  top: 60px;
  left: 0;
  width: 90px;
  height: 5px;
  background-color: #4d94ff;
  border-radius: 0.7rem;
  transition: all 0.3s ease;
}
.content_box {
  padding: 1.5rem;
}
.content_box .content {
  display: none;
  animation: moving 0.3s ease;
}
.content_box .content.active {
  display: block;
}
.content_box .content h2 {
  margin-bottom: 0.6rem;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
