@media (min-width: 200px) and (max-width: 899px) {
  .menu-items {
    display: none;
  }
  .header-btns {
    display: none;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .logo button {
    display: block;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .logo img {
    width: 130px;
  }
  .header.active {
    background: var(--color-primary);
  }
  .toggle-wrapper {
    justify-content: flex-start;
  }
  .pricing-container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
