* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery {
  max-width: 1280px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}
.galler-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.gallery .galler-items:nth-child(1),
.galler-items:nth-child(3),
.galler-items:nth-child(5) {
  grid-row: span 2;
}

@media (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
